#cabeçalho .header{
    display: flex;
    position: fixed;
    background-color: white;
}

#cabeçalho img{
    height: 70px;
    margin: 5px;
}

#menu.col-lg-7 {
    padding-right: 0%;
}

#menu a:hover {
    color: rgb(198, 137, 223);
}

#menu a {
    color: rgb(150, 150, 150);
}

.sticky-top{
    background-color: white;
}

.navbar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    text-align: left;
    margin-left: 20%;
    margin-right: 0%;
    padding: 10px;
}

#pesquisa {
    margin-left: ;
}

#pesquisa input, input:focus, textarea {
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    padding-right: 10px;
    width: 90%;
    margin: 5px;
    margin-left: 0px;
    border: none;
    border-color: none;
    outline: none;
}

#pesquisagoogle input, input:focus, textarea, table {
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    padding-right: 0px !important;
    width: 90%;
    margin: 5px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border: none;
    border-color: none;
    outline: none;

}
#pesquisagoogle button {
    margin: 0% !important;
}

#pesquisa a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    text-align: right;
    color: black;
    padding-left: 85%;
    width: 20px;
    padding-left: 0% !important;
}

#pesquisa img {
    width: 20px;
    height: auto;
    border: 0;
}

#divBusca{
    background-color:#2F4F4F;
    border:solid 1px;
    border-radius:15px;
    width:300px;
  }
   
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 1%;
    margin-left: 1%;
}

.carousel-item {
    width: 100%;
    height: 520px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-caption {
    background-color: rgba(255, 255, 255, 60%);
    width: 30%;
    height: 20%;
    margin: 0% auto 3% auto;
    color: black;
    text-shadow: -1px -1px white;
}

#conteúdosespeciais .fundo{
    margin: 40px 0px 0px 0px;
    height: 100px; 
    background: rgb(220, 131, 255);
    display: grid;
}

#conteúdosespeciais h2 {
    color: black;
    margin:30px 30px 30px 30px;
    padding: 0px 0px 0px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-left: 5px;
    border-left-style: solid;
    border-left-color: blueviolet;
}

#conteúdosespeciais .col-lg-1 {
    height: 200px;
    background: black; 
    margin: 100px 0px 100px 0px;
    padding: 0% 0% 0% 0%;
}

#conteúdosespeciais .col-lg-6 {
    height: 400px;
    padding: 0% 0% 0% 0%;
    margin: 0px 0px 0px 0px;
}   

#conteúdosespeciais img {
    height: 400px;
    padding: 0%;
    margin: 0% 0% 0% -10%;
}

#conteúdosespeciais .col-lg-5 {
    padding: 0% 0% 0% 0%;
    background: white;
}

#conteúdosespeciais .bg {
    height: 350px;
    margin: 0% 0% 0% 0%;
    background:lightpink; 
    margin-top: 25px;
    margin-left: -10px;
}
#conteúdosespeciais p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 350px;
    margin: 0% 0% 0% 0%;
    padding: 10%;
}

#conteúdosespeciais span.titulo {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.2em;
    color: black;
}

#conteúdosespeciais span.subtitulo {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    font-size: 0.7em;
    color: black;
    margin-bottom: 5px;
}

#conteúdosespeciais span.texto {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    font-size: 0.9em;
    color: black;
}

#conteúdosespeciais button {
    margin: 5% 0% 0% 85%;
    background-color:rgb(255, 208, 215);
}

#conteúdosespeciais button a {
    color: rgb(75, 75, 75) ;
}

#conteúdosespeciais button a:hover {
    color: blueviolet;
}