#cabeçalho img{
    height: 70px;
    margin: 5px;
}

#menu.col-lg-7 {
    padding-right: 0%;
}

#menu a:hover {
    color: rgb(198, 137, 223);
}

#menu a {
    color: rgb(150, 150, 150);
}

.navbar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    text-align: left;
    margin-left: 20%;
    margin-right: 0%;
    padding: 10px;
}

#pesquisa {
    margin-left: ;
}

#pesquisa input, input:focus, textarea {
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    padding-right: 10px;
    width: 90%;
    margin: 5px;
    margin-left: 0px;
    border: none;
    border-color: none;
    outline: none;
}

#pesquisa a {
    width: 20px;
    padding-left: 0% !important;
}

#pesquisa img {
    width: 20px;
    height: auto;
    border: 0;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 1%;
    margin-left: 1%;
}

.carousel-item {
    width: 100%;
    height: 520px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-caption {
    background-color: rgba(255, 255, 255, 60%);
    width: 30%;
    height: 20%;
    margin: 0% auto 3% auto;
    color: black;
    text-shadow: -1px -1px white;
}

#pesquisa a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    text-align: right;
    color: black;
    padding-left: 85%;
}

