/*ordem
1-menu
2-slider
3-conteudos especiais
*/

/*1-menu*/

.navbar{
    height: 100px;
}

ul.navbar-nav {
    margin-left: auto;
    font-size: 1.2em;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(145, 145, 145);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(61, 30, 61);
}

.nav-link:hover{
    color:violet !important;
}

.nav-link:focus{
    color:rgb(109, 6, 177) !important;
}

#menu {
    background-color: white;
}

#menu img{
    width: auto;
    height: 80px;
}

/*fim menu*/

/*2-slider*/

#slider {
    position: relative;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0px 10px;
}

.carousel-item {
    height: 620px;
    object-position: center;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: 50% !important;
}

.carousel-caption {
    background-color: rgba(0,0,0, 50%);
    width: 40%;
    margin-bottom: 10%;
}

/*fim slider*/
/*3-conteudos especiais*/
h2 {
    color: rgb(253, 222, 252);
    margin:30px 30px 30px 30px;
    padding: 0px 0px 0px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-left: 5px;
    border-left-style: solid;
    border-left-color: violet;
}

.bg-titulo {
    background-color: rgb(70, 5, 83);
}

.bgimg {
    background-color: rgb(70, 5, 83);
    height: 200px;
    margin-top: 100px;
}

.bgesp1{
    background-color: rgb(253, 222, 252);
    height: 350px;
    margin-top: 25px;
    padding: 30px 30px 30px 30px !important;
}

#conteudosespeciais {
    margin-top: 40px;
}

#conteudosespeciais .container:nth-child(2){
    padding: 0% !important;
}

#conteudosespeciais img {
    width: 100%;
    height: 400px;
    padding-left: 50px;
    margin-top: -100px;
    object-fit: cover;
    object-position: center;
}
  




